body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

header h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

header nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #ffcc00;
}

#filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  margin-bottom: 20px;
}

#filters label,
#filters select,
#filters input,
#filters button {
  margin: 5px;
  font-size: 0.7em;
}

#filters select,
#filters input {
  padding: 3px;
  width: auto;
}

#filters button {
  padding: 5px 10px;
  cursor: pointer;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: calc(25% - 40px);
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
}

.product-name,
.product-price,
.product-stars,
.product-reviews,
.product-seller {
  margin: 10px 0;
}
@media (max-width: 1200px) {
  .product {
    width: calc(33.333% - 40px);
  }
}

@media (max-width: 900px) {
  .product {
    width: calc(50% - 40px);
  }
}

@media (max-width: 600px) {
  .product {
    width: calc(100% - 40px);
  }

  #filters {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 170px;
  }

  #filters label,
  #filters select,
  #filters input,
  #filters button {
    width: 100%;
    text-align: center;
    font-size: 0.6em;
  }

  #filterButton,
  #clearButton {
    padding: 1px;
  }
}
